<a href="/new"> <Button id="addpicbutton">Add a Pic</Button> <a/>

<div id="grid">
	<% @pics.each do |pic| %>
			<% if File.extname(pic.image) != ".gifv" %>
				<%= link_to pic_path(pic.id) do%>
					<img class="image" src= <%= pic.image %> />
				<% end %>
			<% end %>
	<% end %>
</div>

