<a href="/pics"> <Button id="backbutton">Go Back</Button> <a/>


<div class="create">
	<div class="container">

			<%= form_for(@pic) do |f| %>  
				<%= f.text_field :title, :placeholder => "title", :class => "formfield"%><br>
				<%= f.text_field :image, :placeholder => "image link", :class => "formfield"%><br>
				<%= f.submit "Add", :id => "addbutton" %>
			<% end %>
	
	</div>
</div>