<a href="/pics"> <Button id="backbutton">Go Back</Button> <a/>
<a href="/pics"> <Button id="deletebutton">Delete</Button> <a/>

	<p class="title"> <strong><%= @pic.title %></strong> </p>
	<img id="imageshow" src= <%= @pic.image %> />

