html, a, h1 {
  margin: 0;
  background-color: #99CCFF;
}

.title {
  text-align: center;
	font-family: "Ariel", Helvetica, sans-serif;
	font-size: 3.1vw;
	margin: 1vw;
}

.box{
  width: 10vw;
  height: 10vw;
  float: left;
}

.image {
  position: relative;
  width: 10vw;
  height: 10vw;
  transition: opacity 0.5s;
}

.image:hover{
  opacity: 0.35;
}

.imagetext{
  width: 9vw;
  word-wrap: break-word;
  margin-left: 20px;
  font-family: "Ariel", Helvetica, sans-serif;
  font-size: 1vw;
  position: absolute;
}

#grid {
  margin-left: 25vw;
  width: 50vw;
  height: 2000px;
  background-color: cornflowerblue;
}

button {
  background-color: #00FF66;
  border: 5px #006666 solid;
  color: #fff;
  font-size: 1vw;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #009966;
}

#addpicbutton{
  width: 12vw;
  height: 3vw;
  margin-left: 44vw;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
}

#backbutton{
  width: 10vw;
  height: 3vw;
  margin: 1vw;
  font-size: 1.5vw;
}

#deletebutton{
  background-color: #EE2211;
  width: 10vw;
  height: 3vw;
  float: right;
  font-size: 1.5vw;
  margin: 1vw;
}

#deletebutton:hover {
  background-color: #441100;
}

#addbutton{
  margin-left: 44vw;
  margin-top: 1vh;
  width: 12vw;
  height: 3vw;
  background-color: #00FF66;
  border: .25vw #006666 solid;
  color: #fff;
  font-size: 1.5vw;
  transition: background-color 0.5s;
}

#addbutton:hover {
  background-color: #009966;
}

.formfield{
  text-align: center;
  font-size: 1.5vw;
  width: 33vw;
  height: 1.5vw;
  margin-left: 33vw;
  margin-top: 1vh;
}

#imageshow{
  width: 33vw;
  padding: 1vw;
  padding-left: 33vw;
  padding-right: 33vw;
  background-color: cornflowerblue;
}

.container{
  padding: 1vw;
  background-color: cornflowerblue;
}