html, a, h1 {
  margin: 0;
  background-color: #99CCFF;
}

.title {
text-align: center;
	font-family: "Ariel", Helvetica, sans-serif;
	font-size: 80px;
	margin: 10px;
}

.image {
  position: relative; 
  filter: blur(30px);
	width: 10vw;
  height: 9vw;
  float: left;
  transition: opacity 0.5s;
}

.image:hover{
  opacity: 0.5;
}

.imagetitle{
  position: absolute;
  text-align: center;
}

#grid {
  margin-left: 25vw;
  width: 50vw;
  height: 2000px;
  background-color: cornflowerblue;
}

button {
  background-color: #00FF66;
  border: 5px #006666 solid;
  color: #fff;
  font-size: 20px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #009966;
}

#addpicbutton{
  width: 12vw;
  height: 3vw;
  margin-left: 44vw;
  margin-top: 25px;
  margin-bottom: 25px;
}

#backbutton{
  width: 11vw;
  height: 3vw;
  margin: 6px;
  font-size: 15px;
}

#addbutton{
  margin-top: 10px;
  margin-left: 44vw;
  margin_top: 20px;
  width: 12vw;
  height: 3vw;
  background-color: #00FF66;
  border: 5px #006666 solid;
  color: #fff;
  font-size: 20px;
  transition: background-color 0.5s;
}

#addbutton:hover {
  background-color: #009966;
}

.formfield{
  text-align: center;
  font-size: 20px;
  width: 33vw;
  height: 2vw;
  margin-left: 33vw;
  margin-top: 10px;
}

#imageshow{
  width: 60vw;
  padding: 30px;
  background-color: cornflowerblue;
  margin-left: 20vw;
}

.container{
  padding: 30px;
  background-color: cornflowerblue;
}